@model SocialUser.Models.GetGroupViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "GetChatView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/chat.css")
@Styles.Render("~/Content/local.css")
@Styles.Render("~/Content/groupView.css")

@Scripts.Render("~/Scripts/jquery-2.2.4.js")
<div id="settings">
    <i id="settingsCloseBtn" class="fas fa-times fa-2x"></i>
    @foreach (var member in Model.groupsMembers)
    {
        foreach (var user in Model.users)
        {
            if (member.UserId == user.Id)
            {
                <div class="user2">
                    <div class="row">
                        <div class="col-md-7">
                            @if (member.UserId == Model.group.CreateGroupUserId)
                            {
                                <img class="profilePhoto" src="@user.profilePhoto" /> <b class="">@user.UserName</b> <span class="text text-success" style="font-weight:700;">(Grup Yöneticisi)</span>
                            }
                            else
                            {
                                <img class="profilePhoto" src="@user.profilePhoto" /> <b class="">@user.UserName</b>
                            }

                        </div>
                        <div class="col-md-5">
                            <div class="settingsBtn">
                                @if (member.UserId == User.Identity.GetUserId())
                                {
                                }
                                else
                                {
                                    <a href="@Url.Action("GroupRemoveUser","Chat",new { memberId = member.MemberId,groupId=member.GroupId })" class=" btn btn-danger">Gruptan Çıkar</a>
                                }

                                @if (Model.group.CreateGroupUserId == User.Identity.GetUserId())
                                {
                                    if (member.Role == "User")
                                    {
                                        <a id="doManager" href="@Url.Action("DoManager","Chat",new {id=member.MemberId })" class=" btn btn-primary">Yönetici Yap</a>
                                    }
                                    else if (Model.group.CreateGroupUserId != member.UserId)
                                    {
                                        <a id="removeManager" href="@Url.Action("RemoveManager","Chat",new {id=member.MemberId })" class=" btn btn-primary">Yöneticilikten Çıkar</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    
                    


                </div>
                
            }
        }
    }

</div>
<div id="background"></div>

<div id="leftBar" class="d-block">
    <div class="user">
        <div><img class="profilePhoto" id="img" src="@Model.currentUser.profilePhoto" /> <b class="UserName">@Model.currentUser.UserName</b><div id="bgHover" class="" style="width:70px;height:70px;border-radius:50%;position:absolute;top:20px;display:none;background-color:RGBA(0,0,0,0.3);"><a title="profil fotoğrafını güncelle" href="@Url.Action("SetProfilePhoto","Manage")"><i style="position:absolute;left:30px;top:30px;color:white;" class="far fa-edit fx-3x"></i></a></div> </div>
    </div>
    <script>
        var img = document.getElementById("img");
        var hover = document.getElementById("bgHover")
        img.addEventListener("mouseover", function () {
            hover.style.display = "block";

        })
        hover.addEventListener("mouseout", function () {
            hover.style.display = "none";
        })

    </script>

    <div id="messageUsers">
        @foreach (var member in Model.groupsMembers)
        {
            foreach (var user in Model.users)
            {
                if (member.UserId == user.Id)
                {
                    <div class="user2">
                        <img class="profilePhoto" src="@user.profilePhoto" /> <b class="UserName">@user.UserName</b>
                    </div>
                }

            }

        }
    <div style="display:flex;bottom:0;justify-content:flex-start;position:absolute;">
        @foreach (var member in Model.groupsMembers)
        {
            if (member.UserId == User.Identity.GetUserId() && member.Role == "Manager")
            {
                <button style="" id="groupSettingsBtn" class="btn btn-info">Grup Ayarları</button>
                break;
            }
        }
        @if (Model.group.CreateGroupUserId == User.Identity.GetUserId())
        {
            <a onclick="return confirm('Grubu silmek istediğinizden eminmisiniz?');" href="@Url.Action("DeleteGroup","Chat",new { id = Model.group.GroupId })"  style="margin-left:1px;" id="groupSettingsBtn" class="btn btn-warning">Grubu Sil</a>
        }
    </div>
        
        <script>
            $(document).ready(function () {
                var groupSettingsBtn = $("#groupSettingsBtn");
                var settingsCloseBtn = $("#settingsCloseBtn");
                var settingsDiv = $("#settings");
                var backgroundDiv = $("#background");
                backgroundDiv.click(function () {
                    settingsDiv.fadeOut(400).hide();
                    backgroundDiv.fadeOut(100).hide();
                })
                settingsCloseBtn.click(function () {
                    settingsDiv.fadeOut(400).hide();
                    backgroundDiv.fadeOut(100).hide();
                })
                groupSettingsBtn.click(function () {
                    settingsDiv.fadeIn(100).show();
                    backgroundDiv.fadeIn(400).show();
                })
            })
        </script>
    </div>

    <div class="bottom-button">

        @Html.ActionLink("Geri Dön", "Index", new { user1 = Model.userid1, user2 = Model.userid2 }, new { id = "back", @class = "btn btn-danger" })
    </div>
</div>
<div id="rightBar" class="d-block">
    <div id="messages">



    </div>
    <div id="errorMessage">

    </div>


    <div id="messageBar" class="input-group">
        <div id="messageBox">
            <button id="close" class="append"><i class="fas fa-times"></i></button>
            @Html.TextArea("text", "", new { id = "text", rows = "2", cols = "10", @class = "form-control text", placeholder = "" })
            @*<textarea name="text" class="form-control text" id="text" rows="2" placeholder="Bir şeyler yaz.."></textarea>*@
            <button id="send" class=""><i class="fas fa-paper-plane"></i></button>


            <script>
            $(document).ready(function () {
                var sendBtn = $("#send");
                var text = $("#text");
                var message = $("#errorMessage");
                var closeBtn = $("#close");
                message.hide();
                closeBtn.hide();
                message.empty();
                //show clear button
                text.keyup(function () {
                    if (text.val().length >= 5) {
                        closeBtn.fadeIn().show();
                    } else if (text.val().length<5) {
                        closeBtn.fadeOut("slow").hide();
                    }
                })
                //textbox clear
                closeBtn.click(function () {
                    text.val("");
                    closeBtn.fadeOut("slow").hide();
                    text.focus();
                })

                //btn click send
                sendBtn.click(function () {
                    message.empty();
                    message.append("");
                    if (text.val() == "" || text.val().trim().length < 1) {
                        showDiv("Yorum Boş olamaz");
                    } else if (text.val().length > 2001) {
                        showDiv("Karakter Sınırı aşıldı.");
                    } else {
                        send();
                    }

                })
                //key press enter send
                text.keypress(function (event) {
                    if (event.keyCode == 13) {
                        if (event.shiftKey) { }
                        else if (event.keyCode == 27) {
                            text.val("");
                        }
                        else {
                            event.preventDefault();
                            message.empty();
                            if (text.val() == null || text.val().trim().length <1) {
                                showDiv("Yorum Boş olamaz");
                            } else if (text.val().length > 2001) {
                                showDiv("Karakter Sınırı aşıldı.");
                            } else {
                                send();
                            }
                        }
                    }
                })

                //send method
                function send() {
                    var currentUser = '@User.Identity.GetUserId()';
                        $.ajax({
                            url: "/Chat/GroupMessageDo",
                            type: "POST",
                            data: { groupId:@Model.groupId,text:text.val() },
                            dataType: "json",
                            success: function () { }
                        })
                    text.val("");
                    text.focusin();

                }

                //show and hide errormessage
                function showDiv(msg) {
                    message.empty();
                    message.append(msg).fadeToggle("fast").delay(1000).fadeToggle("fast");
                }
            })
            </script>

        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/Scripts/jquery.signalR-2.4.2.js")
    @Scripts.Render("~/signalr/hubs")
    <script>
        $(function () {
            var hub = $.connection.sampleHub;
            var currentId = "@User.Identity.GetUserId()";
            var messageDiv = $("#messages");

                $.connection.hub.start().done(function () {
                                    getChat();
                                })
            hub.client.refreshGroupChat = function () {
                    getChat();
            }
                                function getChat() {
                                $.ajax({
                                    url: "/Chat/LoadGroupMessage",
                                    type: "GET",
                                    data: { groupId: '@Model.groupId' },
                                    success: function (result) {
                                        messageDiv.empty().append(result);
                                    }
                                })
                            }

                            })

    </script>

}






