@model SocialUser.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
}

@Styles.Render("~/Content/register.css")

<main class="form-signin">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-floating">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })<br />

            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        <div class="form-floating">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })<br />

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-floating">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" })<br />

            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", type = "date" })
        </div>
        <div class="form-floating">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })<br />

            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-floating">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @for = "password" })<br />

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "password" })
        </div>

        <input type="submit" class="btn btn-primary" value="Kaydol" />
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
